body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background: #f5f5f5;
}

h1 {
  margin-bottom: 20px;
}

/* Buttons */
.effects {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.btn {
  padding: 14px 24px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* SCALE */
.scale:hover {
  transform: scale(1.2);
}

/* ROTATE */
.rotate:hover {
  transform: rotate(10deg);
}

/* TRANSLATE */
.move:hover {
  transform: translateY(-10px);
}

.card-container {
  perspective: 800px;
}

.card {
  width: 200px;
  height: 120px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 10px;
  color: white;
}

.card-front {
  background: #007acc;
}

.card-back {
  background: #444;
  transform: rotateY(180deg);
}
